  .container {
    display: flex;
    height: 500px;
    width: 500px;
    border: 1px solid black;
  }
  
  .container>div {
    flex: 1;
  }

  div>div {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-left: 0px;
    flex: 1;
  }

