body {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

button {
    height: 40px;
    width: 120px;
    flex-shrink: 0;
    align-self: center;
}

.slidecontainer {
    display: flex;
    margin: 20px;
    align-self: center;
    justify-content: center;
}

.row {
    flex: 1;
    display: flex;
}
.square {
    flex: 1;
    border: 1px solid #dbf1ff;
    cursor: pointer;
}

.canvas {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-shrink: 0;
    width: 550px;
    height: 550px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#sizeValue {
    display: flex;
    align-self: center;
    margin-top: 20px;
}